# TiDE Central Asia Tuning Configuration
# Time-series Dense Encoder for hyperparameter tuning on all 63 Central Asia basins
# Hyperparameters will be provided by search space during tl-tune

data:
  base_path: ../publication_data_transformed/central_asia
  gauge_ids_file: basin_selection/central_asia_basins.txt
  pipeline_path: ../publication_data_transformed/central_asia/ts_pipeline.joblib

features:
  forcing:
    - temperature_2m_max
    - temperature_2m_min
    - potential_evaporation_sum_FAO_PENMAN_MONTEITH
    - potential_evaporation_sum_ERA5_LAND
    - temperature_2m_mean
    - total_precipitation_sum
    - snow_depth_water_equivalent_mean
    - surface_net_solar_radiation_mean
    - surface_net_thermal_radiation_mean
    - sin_day_of_year
    - cos_day_of_year
    - streamflow_was_filled
    - streamflow

  static:
    - p_mean
    - area
    - ele_mt_sav
    - high_prec_dur
    - frac_snow
    - high_prec_freq
    - slp_dg_sav
    - cly_pc_sav
    - aridity_ERA5_LAND
    - aridity_FAO_PM
    - low_prec_dur
    - gauge_lat
    - snd_pc_sav
    - pet_mean_ERA5_LAND
    - gauge_lon
    - slt_pc_sav
    - low_prec_freq
    - glc_cl_smj
    - seasonality_ERA5_LAND
    - cmi_ix_syr
    - rdd_mk_sav
    - for_pc_sse

  future:
    # All forcing features except streamflow (for forecast mode)
    - temperature_2m_max
    - temperature_2m_min
    - potential_evaporation_sum_FAO_PENMAN_MONTEITH
    - potential_evaporation_sum_ERA5_LAND
    - temperature_2m_mean
    - total_precipitation_sum
    - snow_depth_water_equivalent_mean
    - surface_net_solar_radiation_mean
    - surface_net_thermal_radiation_mean
    - sin_day_of_year
    - cos_day_of_year
    - streamflow_was_filled

  target: streamflow

sequence:
  input_length: 150
  output_length: 10

data_preparation:
  mode: forecast # Predicts future streamflow from past + future forcing
  is_autoregressive: true # Uses past streamflow as input
  include_dates: true # Include timestamps for evaluation

model:
  type: tide
  # No overrides - all hyperparameters provided by search space during tuning

dataloader:
  batch_size: 2048
  num_workers: 8
  pin_memory: true
  persistent_workers: false
  shuffle_train: true
